/* Main App Container */
.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

/* Global utility for centering large empty/loading states */
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
